# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"
NEXT_PUBLIC_FXBLUE_EMBED_URL=https://www.fxblue.com/users/cardic
RESEND_API_KEY=
MAIL_FROM="Cardic Nexus <no-reply@cardicnexus.com>"
ADMIN_EMAIL=
